/* Site Wide Styles */
.project-pages {
    margin: 0;
    font-family: 'Nanum Myeongjo';
    color: #111;
  }

  /* Top navigation */
  header {
    display: flex;
    justify-content: left;
    gap: 12rem;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 100%;
  } 

  header a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: opacity 0.2s;
    font-size: 150%;
  }

  header a:hover {
    opacity: 0.6;
  }

  h1 {
    text-align: center;
  }

  .presentation {
    align-items: center;
  }

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  p {
    padding: 5%;
  }