body, html, a {
    height: 100%;
    margin: 0;
    padding: 0;
  }

h2 {
    height: 100%;
    margin: 100px;
    padding: 10px;
  }

.bg {
    /* Full height */
    min-height: 100vh;

    /* The image used */
    background-image: url("Rectangle\ 7.jpg");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    display: flex;
    align-items: center; /* Vertically centers content */
    /* Add other styling like height, width, etc. as needed */
  }